---

global:
  scrape_interval: "{{ prometheus_scrape_interval }}"
  evaluation_interval: "{{ prometheus_evaluation_interval }}"
  scrape_timeout: "{{ prometheus_scrape_timeout }}"
  external_labels:
    env: "{{ prometheus_env }}"

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 1m
    static_configs:
      - targets:
        - "localhost:{{ prometheus_port }}"

  - job_name: "node-exporter"
    static_configs:
      - targets:
{% for server in groups[prometheus_node_exporters_group] %}
{% if prometheus_network_interface is defined %}
        - "{{ hostvars[ server ][ ( ['ansible_', prometheus_network_interface] | join('') ) ]['ipv4']['address'] }}:{{ prometheus_node_exporter_port }}"
{% else %}
        - "{{ server }}:{{ prometheus_node_exporter_port }}"
{% endif %}
{% endfor %}

{% if prometheus_rule_files != {} %}
rule_files:
{% for value in prometheus_rule_files %}
  - "{{ value }}"
{% endfor %}
{% endif %}
